body {
	background-color: ; /* background color */
	color: #684331; /* text color */
	font-size: x-small; /* font size */
	margin: 0px 0px 0px 0px; /* top right bottom left */
}

.jspmaker {
	color: #684331; /* text color */
	font-family: verdana; /* font name */
	font-size: x-small; /* font size */	
}

input, textarea, select {	

	font-size: x-small; /* font size */
} 

a:active {
	color: #684331; /* active link color */
}

a:link {
	color: #684331; /* link color */
}

a:visited {
	color: #684331; /* visited link color */
}

/* main table */
.ewTable {
	width: ; /* table width */	
	color: ; /* text color */

	font-size: x-small; /* font size */
	border-collapse: collapse;
	border: none;
}

/* main table data cells */
.ewTable td {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

/* main table header cells */
.ewTableHeader {
	background-image:url("/InfiniteWeb/imgs/web/bg2.gif");
	background-color: #594FBF; /* header color */
	color: #684331; /* header font color */	
	vertical-align: top;	
}

.ewTableHeader a {	
	background-image:url("/InfiniteWeb/imgs/web/bg2.gif");
	color: #684331; /* header font color */	
}

/* main table row color */
.ewTableRow {
	background-color: transparent;  /* alt row color 1 */
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #F5F5F5; /* alt row color 2 */	
}

/* main table sorting indicator */
.ewTableOrderIndicator {
	font-family: Webdings;	
}

/* main table footer section */
.ewTableFooter {
	background-color: #FFFFE0;	
}
